* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    flex: 1 1 auto;
    padding : 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todoApp {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.todoApp h1 {
    color: #002765;
    margin-bottom: 20px;
}

.todoApp img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

section {
    width: 100%;
}
.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.row form {
    display: flex;
    flex: 1;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex: 1;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../img/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 5px;
    left: 10px;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    background-image: url('../img/checked.png');
}

.inputError{
    border: 2px solid red;
    border-radius: 30px;
}

.errorText{
    color: red;
    font-size: 14px;
}

ul.errorText li::before{
    display: none;
}

ul li .closeButton {
    position: absolute;
    right: 0px;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: #ff5945;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

ul li .closeButton:hover {
    background: #edeef0;
}


p.errorDiv {
    margin: 30px 0px;
    width: 250px;
    padding: 15px 10px;
    display: block;
    text-align: center;
    border-radius: 2px;
    background-color: #f90000;
    border: 1px solid #EDD;
    color: #ffffff;
    display: none;
}